# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ
/.idea/*.iml
# Nếu dùng Maven
/target/
# Nếu dùng Node/React
/node_modules/
/dist/
